.animation-tab-container {
    margin-top: 1rem;
}

.animation-control-container {
    gap: 1rem;
    border: 1px solid rgb(193, 193, 193);
    border-radius: .3rem;
    padding: 1rem;
    padding-top: 0rem;
    margin-top: .5rem;

    position: relative;
}

.animation-name-container {
    padding-top: 1rem;
    font-weight: bold;
}

.animation-item-menu-container {
    position: absolute;
    top: .2rem;
    right: .2rem;
}

.animation-reach-speed-phase-container {
    display: flex;
    flex-direction: column;
    border-radius: .3rem;
    padding: .2rem;
    margin-top: .5rem;
}

.animation-detail-container {
    margin-bottom: 1.5rem;
}

.animation-detail-name-and-buttons {
    display: flex;
    justify-content: space-between;
}

.animation-detail-name {}

.animation-detail-buttons {
    display: flex;
    gap: .5rem;
    margin-bottom: .2rem;
}


.animation-speed-container {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    align-items: center;
}