.animation-tab-container {
    margin-top: 1rem;
}

.animation-control-container {
    gap: 1rem;
    border: 1px solid rgb(193, 193, 193);
    border-radius: .3rem;
    padding: 1rem;
    padding-top: 0rem;
    margin-top: .5rem;

    position: relative;
}

.animation-name-container {
    padding-top: 1rem;
    font-weight: bold;
}

.animation-item-menu-container {
    position: absolute;
    top: .2rem;
    right: .2rem;
}

.animation-reach-speed-phase-container {
    display: flex;
    gap: 1rem;
    border-radius: .3rem;
    padding: .2rem;
    margin-top: .5rem;
}

.animation-number-input-container {
    display: flex;
    align-items: flex-end;
}


.animation-speed-container {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    align-items: center;
}