@import-normalize;
@import 'controls.css';


:root {}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

.app-container {
  display: flex;
  align-items: flex-start;
}

.canvas-container {
  width: 800px;
  height: 800px;
}

.canvas {
  position: fixed;
}