@import-normalize;
@import 'controls.css';
@import 'animation-controls.css';
@import 'gallery.css';
@import 'dial.css';


:root {}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.canvas-and-controls-container {
  display: flex;
  align-items: flex-start;
}

.canvas-container {
  width: 800px;
  height: 800px;
}

.canvas {
  position: fixed;
}

.full-screen-button {
  position: fixed;
  top: .2rem;
  left: .2rem;
}