.controls-container {
    flex-grow: 1;
    padding: 1rem;
}

.control-group {
    margin: 1rem 0rem;
    padding: 1rem;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 1rem;
}

.slider-and-buttons-container {
    display: flex;
    align-items: center;
}

.buttons-container {
    display: flex;
    gap: .3rem;
    margin-left: .3rem;
}

.slider-container {
    flex-grow: 1;
}

.color-controls-container {
    display: flex;
    gap: 1rem;
    margin: 1rem 0rem;
}

.controls-button {
    margin-right: 1rem;
}