.controls-container {
    flex-grow: 1;
    padding: 1rem;
}

.control-group {
    margin: 1rem 0rem;
    padding: 1rem;
    background-color: rgb(255, 205, 211);
    border-radius: 1rem;
}

.slider-name {}

.slider-and-buttons-container {
    display: flex;
    align-items: center;
}

.buttons-container {
    display: flex;
    gap: .3rem;
    margin-left: .3rem;
}

.slider-container {
    flex-grow: 1;
}