.controls-container {
    flex-grow: 1;
    padding: 1rem;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.946);
    /* filter: opacity(.0); */

    transition: .2s;

    border-radius: .5rem;
}

.opacity-zero {
    filter: opacity(.0);
}

.controls-container:hover {
    filter: opacity(1);
}

.control-group {
    /* margin: 1rem 0rem; */
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 1rem;
}

.slider-and-buttons-container {
    display: flex;
    align-items: center;
}

.buttons-container {
    display: flex;
    gap: .3rem;
    margin-left: .3rem;
}

.slider-container {
    flex-grow: 1;
}

.color-controls-container {
    display: flex;
    gap: 1rem;
    margin: 1rem 0rem;
}

.controls-buttons-container {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 1rem;
}

.saving-buttons-container {
    display: flex;
    gap: 1rem;
}