:root {
    --digit-color: hsl(202, 34%, 64%);
    --digit-color-darker: hsl(202, 34%, 40%);
}

.dial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
    font-weight: bold;

    color: var(--digit-color);
}


.dial-name {
    display: flex;
    padding-bottom: .5rem;
}

.dial-digit-container {}

.dial-digit {

    font-size: 2rem;
    padding: .4rem .5rem;
    user-select: none;
}

.decimal-separator {
    padding-left: 0;
    padding-right: 0;
}

.dial-buttons {
    display: flex;
    margin-left: auto;
    gap: .2rem;
}

.dial-button {
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: .2rem;
    padding: .2rem;
    user-select: none;
    color: var(--digit-color-darker);
    text-align: center;
}

.dial-button-margin-bottom {
    margin-bottom: 0.2rem;
}