:root {
    --digit-color: hwb(201 51% 24%);
}

.dial-container {
    display: flex;
    /* background-color: var(--digit-color); */
    justify-content: center;
    border-radius: .2rem;
    font-weight: bold;
}


.dial-name {
    padding-bottom: .5rem;
}

.dial-digit-container {}

.dial-digit {
    /* color: white; */
    color: var(--digit-color);

    font-size: 2rem;
    padding: .4rem .5rem;
    user-select: none;
}

.dial-sign {

    /* color: var(--digit-color);
    background-color: white; */
}

.decimal-separator {
    padding-left: 0;
    padding-right: 0;
}