.gallery-view {}

.gallery-grid {
    display: grid;
    gap: 1rem;
    /* grid-auto-flow: column; */
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    justify-items: center;
}

.gallery-item {
    width: 250px;
    height: 300px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
    /* border-radius: .5rem; */
}

.canvas-thumbnail {
    /* position: absolute;
    top: 0; */
    width: 200px;
    height: 200px;
}

.canvas-thumbnail canvas {
    border: 1px solid black;
}


.gallery-tile-menu-button {
    position: absolute;
    top: 0;
    right: 5px;
}