:root {
    --screen-density: 1;
}

.gallery-view {}

.gallery-grid {
    display: grid;
    gap: 3rem 1.5rem;
    /* grid-auto-flow: column; */
    grid-template-rows: repeat(auto-fill, minmax(calc(320px / var(--screen-density)), 1fr));
    grid-template-columns: repeat(auto-fill, minmax(calc(250px / var(--screen-density)), 1fr));

    justify-items: center;
    margin-bottom: 2rem;
}

.gallery-item {
    width: calc(250px / var(--screen-density));
    height: calc(320px / var(--screen-density));

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid black; */
    border: 8px ridge rgb(225, 225, 225);
    transition: 300ms;
    filter: brightness(.9);
}

.gallery-item:hover {
    box-shadow: 1px 2px 2px 1px #616161;
    filter: brightness(1);
    background-color: white;
}

.gallery-item-selected {
    box-shadow: 1px 2px 2px 1px #616161;
    border: 12px ridge rgb(255, 72, 72);
    background-color: white;
}

.gallery-item-name {
    position: absolute;
    top: .8rem;
}

.gallery-item-selected-mark {
    position: absolute;
    bottom: .8rem;
    font-weight: bold;
    color: red;
    text-decoration: underline;
}

.canvas-thumbnail {
    width: calc(200px / var(--screen-density));
    height: calc(200px / var(--screen-density));
    cursor: pointer;
}


.canvas-thumbnail canvas {
    border: 1px solid black;
}


.gallery-tile-menu-button {
    position: absolute;
    top: 0;
    right: 5px;
}

.add-gallery-item-button {
    margin: 2rem;
}